# Temp files created by most text editors.
*~
*.user

# Merge files created by git.
*.orig

# Byte compiled python modules.
*.pyc
*.pyd

# vim swap files
.*.sw?
.sw?

# OS X specific files.
.DS_store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Libraries
*.so
*.a

# Executables
*.out
*.app
*.pdb
*.user

# Directories
build*
.idea
build

# Doc HTML files
doc/html/
